/* Colors */
:root {
  /* background */
  --whitish-color: #fafafa;
  /* gradiants */
  --redgrad-color: linear-gradient(90deg, #ff9172 0%, #ff3d4d 100%);
  --bluegrad-color: linear-gradient(270deg, #3f4164 20.83%, #2c2d3f 100%);
  /* footer */
  --darkbbl-color: #24242c;
  /* footer text */
  --footertext-color: hsl(240, 2%, 79%);
  /* body copy */
  --darkgbl-color: hsl(207, 13%, 34%);
  /* CTA text */
  --Lightred-color: hsl(356, 100%, 66%);
  /* CTA hover background */
  --lightred-hover-color: hsl(355, 100%, 74%);
  /* headings */
  --darkbl-color: hsl(208, 49%, 24%);
  /*  */
}

* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Overpass", sans-serif;
}

.wrapper {
  width: 1440px;
  margin: 0;
  background-color: var(--whitish-color);
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 600px 1010px 505px 915px 362px;
  grid-template-areas:
    "header"
    "sec1"
    "sec2"
    "sec3"
    "footer";
}

.site-header {
  grid-area: header;
  place-self: stretch;
  height: 600px;
  background-image: <svg width="1440" height="600" viewBox="0 0 1440 600" fill="none" xmlns="http://www.w3.org/2000/svg">
  <g opacity="0.95" clip-path="url(#clip0)">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M1913.86 628.874L1618.51 1359.87L889.035 1065.15L1146.92 426.864C1167.61 375.658 1225.89 350.918 1277.1 371.607L1913.86 628.874ZM699.27 136.887C900.71 218.274 998.032 447.55 916.645 648.989L916.029 650.514C834.642 851.954 605.366 949.276 403.927 867.889C202.487 786.502 105.166 557.224 186.552 355.786L187.168 354.261C268.555 152.821 497.831 55.4999 699.27 136.887ZM1409.97 -575.148L1152.08 63.1346C1131.39 114.343 1073.11 139.081 1021.9 118.392L385.145 -138.875L680.489 -869.876L1409.97 -575.148ZM2261.34 -231.172L1965.99 499.829L1329.23 242.562C1278.03 221.873 1253.29 163.59 1273.98 112.383L1531.86 -525.9L2261.34 -231.172Z" fill="url(#paint0_linear)"/>
  </g>
  <defs>
  <linearGradient id="paint0_linear" x1="690.59" y1="-865.794" x2="1622.66" y2="1349.8" gradientUnits="userSpaceOnUse">
  <stop stop-color="#FF8F71"/>
  <stop offset="1" stop-color="#FF3E55"/>
  </linearGradient>
  <clipPath id="clip0">
  <rect width="1440" height="600" fill="white"/>
  </clipPath>
  </defs>
  </svg>
  ,
    var(--redgrad-color);
  mix-blend-mode: normal;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: right top;
  background-size: auto;
  border-radius: 0px 0px 0px 98px;
  padding: 59px 161px 0 167px;
  display: grid;
  grid-template-columns: 102px auto auto;
  grid-template-rows: auto 100px 35px 230px;
  grid-template-areas: "logo nav login" "htext htext htext" "p p p" "cta cta cta";
}
.site-header .logo {
  grid-area: logo;
  margin: 4px 63px 0 0;
}

/* Start of Header */
.site-header .main-nav > ul {
  grid-area: nav;
  display: flex;
  flex-direction: row;
  color: rgba(255, 232, 216, 0.7);
  margin-top: 17px;
  margin-left: 7.5px;
  padding-bottom: 25px;
}
.site-header .main-nav > ul > li {
  padding: 3px 15.5px 25px 15.5px;
}
.arrow {
  margin-right: 15.5px;
  padding: 0px 10px 0px 7px;
  position: absolute;
}
.navbar-menu {
  position: absolute;
  float: initial;
  display: block;
  visibility: hidden;
  background-color: var(--whitish-color);
  margin-top: 25px;
  padding: 15px 64px 14px 23px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.137);
  border-radius: 8px;
  z-index: 1;
  /* transition: background-color 200ms ease-out, opacity 100ms ease-in; */
}
.navbar-menu > li > a {
  color: black;
  font-weight: 500;
  display: block;
  text-align: left;
  margin: 20px 0;
  padding: 0 20px;
}
/* Hover effects */
.navbar-menu > li > a:hover {
  font-weight: 700;
}
.dropdown-toggle {
  transition: color 100ms ease-in, opacity 100ms ease-in;
}
.dropdown-toggle:hover {
  color: rgba(255, 232, 216, 1);
  text-decoration: underline;
  cursor: pointer;
}
.dropdown-toggle:hover .navbar-menu {
  visibility: visible;
}
.dropdown-toggle:hover .arrow {
  transform: rotate(0.5turn) translateY(-3px) translateX(2px);
}
/* END of Hover effects */
ul {
  list-style: none;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 16px;
}
a {
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 16px;
}
/* Buttons design */
.site-header .login {
  grid-area: login;
  justify-self: end;
}
button {
  background: #ffffff;
  border-radius: 24px;
  border: 0;
  width: 137px;
  height: 48px;
}
.cta-btn > a {
  color: #ff525d;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  filter: blur(0.1px);
}
.cta-btn:hover {
  background-color: var(--lightred-hover-color);
  cursor: pointer;
}
.cta-btn:hover > a {
  color: rgba(255, 255, 255, 0.699);
}
.login-btn {
  background: #ffffff00;
  border-radius: 24px;
  border: 0;
  width: 98px;
  height: 48px;
}
.login-btn:hover {
  cursor: pointer;
}
.login-btn:hover > a {
  color: rgb(255, 255, 255);
}
.login-btn > a {
  color: rgba(255, 255, 255, 0.7);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
}
/* END of Button design*/
.site-header > h1 {
  grid-area: htext;
  justify-self: center;
  font-weight: 600;
  font-size: 64px;
  line-height: 98px;
  letter-spacing: -0.03em;
  color: #ffffff;
}
.site-header > p {
  grid-area: p;
  justify-self: center;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 31px;
  letter-spacing: -0.015em;
  color: rgba(255, 255, 255, 0.7);
}
.site-header .cta {
  grid-area: cta;
  margin-top: 45px;
  justify-self: center;
}
.learnmore {
  background: #ffffff00;
  border-radius: 24px;
  border: 1.3px solid #ffffff;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  margin-left: 16px;
}
.learnmore > a {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}
.learnmore:hover {
  background: #ffffff;
  border-radius: 24px;
  border: 0;
  width: 137px;
  height: 48px;
  cursor: pointer;
}
.learnmore:hover > a {
  color: #ff525d;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  filter: blur(0.1px);
}
/* END of Header */
/* START of Sec1 */
.sec1 {
  grid-area: sec1;
  background-image: url(images/illustration-editor-desktop.svg);
  mix-blend-mode: normal;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position-x: 49.7rem;
  background-position-y: 5rem;
  background-size: auto;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas:
    "htext2 htext2"
    "p1 ."
    "p2 ."
    ". .";
}
.sec1 > h2 {
  grid-area: htext2;
  position: absolute;
  width: 400px;
  height: 60px;
  left: 521px;
  top: 745px;
  justify-self: center;
  align-self: center;
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 58px;
  color: #1f3f5b;
}
.sec1 .p1 {
  grid-area: p1;
  justify-self: center;
  align-self: flex-end;
  object-position: fr;
}
.sec1 .p1 > h3 {
  position: relative;
  top: -15px;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 46px;
  letter-spacing: -0.03em;
  color: #1f3f5b;
}
.sec1 .p1 > p {
  position: relative;
  top: -8px;
  width: 539px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: #4b5862;
}
.sec1 .p2 {
  grid-area: p2;
  justify-self: center;
  align-self: center;
}
.sec1 .p2 > h3 {
  position: relative;
  top: -7px;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 46px;
  letter-spacing: -0.03em;
  color: #1f3f5b;
}
.sec1 .p2 > p {
  width: 544px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: #4b5862;
}
/* END of Sec1 */
/* START of Sec2 */
.sec2 {
  grid-area: sec2;
  background-image: url(images/bg-pattern-circles-sliced.svg),
    var(--bluegrad-color);
  height: 400px;
  mix-blend-mode: normal;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: auto;
  border-radius: 0px 101px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 176px;
}
.sec2 .p3 > h2 {
  position: relative;
  font-weight: 600;
  font-size: 40px;
  line-height: 61px;
  display: flex;
  align-items: center;
  letter-spacing: -0.03em;
  color: #ffffff;
}
.sec2 .p3 > p {
  width: 530px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;
  display: flex;
  align-items: center;
  letter-spacing: 0.033em;
  color: rgba(255, 255, 255, 0.7);
}
/* END of Sec2 */
/* START of Sec3 */
.sec3 {
  grid-area: sec3;
  background-image: url(images/illustration-laptop-desktop.svg);
  mix-blend-mode: normal;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position-x: -17.3rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 120px;
}
.content {
  display: flex;
  flex-direction: column;
  padding-right: 167px;
}
.content .free > h3,
.content .power > h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 46px;
  display: flex;
  align-items: center;
  letter-spacing: -0.03em;
  color: #1f3f5b;
  margin-bottom: 7px;
}
.content .free > p,
.content .power > p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  display: flex;
  align-items: center;
  letter-spacing: 0.026em;
  color: #4b5862;
  width: 538px;
}
.free {
  margin-bottom: 99px;
}
/* END of Sec3 */
/* START of Footer */
.footer {
  grid-area: footer;
  background-color: var(--darkbbl-color);
  height: 100%;
  mix-blend-mode: normal;
  background-repeat: no-repeat;
  border-radius: 0px 100px 0px 0px;
  display: grid;
  grid-template-columns: auto;
  grid-template-areas: "logo product company connect";
  padding-right: 130px;
}
.footer .logo {
  grid-area: logo;
  top: 70px;
  left: 165px;
}
.footer .logo > a .icon {
  margin-top: 70px;
  margin-left: 165px;
  margin-right: -20px;
}
.footer > ul {
  justify-self: flex-start;
  margin-top: 77px;
  padding: 0;
}
.footer > ul > li {
  margin-bottom: 15px;
}
.footer > ul > .label {
  margin-bottom: 36px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -0.04em;
  color: #ffffff;
}
.product {
  grid-area: product;
}
.company {
  grid-area: company;
  margin-right: 15px;
}
.connect {
  grid-area: connect;
}
.footer > ul > li > a {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: -0.05em;
  color: #c8c8cb;
  transition: opacity 100ms ease-out;
}
.footer > ul > li > a:hover {
  opacity: 0.85;
}
/* END */
